<%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="/sheets/signup.css">
    <script type="module" src="/scripts/signup.js" type="text/javascript" defer></script>
    <noscript>Please enable JavaScript for basic functionalities</noscript>
</head>

<body>
    <div class="headingContainer serif">
        <h1>Suspension Warning</h1>
    </div>

    <div class="cautionContainer sans-serif">
        <p class="caution">
            There are 5 login codes associated with your IP address.<br>
            If you attempt to register for another login code, your IP address will be<br>
            <strong class="warning"><em>BLOCKED FOR 6 HOURS.</em></strong><br>
        </p>
    </div>

    <div class="codeContainer monospace">
        <div class="codeBackground blackWhite">
            <div class="codeUnderline">
                <p><%=code%></p>
            </div>
        </div>
    </div>

    <div class="loginBtnContainer">
        <form action="/dashboard" method="POST">
            <input type="hidden" id="logincode" name="logincode" value="<%=code%>">
            <button id="loginBtn" class="loginBtn blackWhite serif" type="submit"
                title="Log into your Seishun dashboard" value="<%=code%>">Log In
            </button>
        </form>
    </div>
<%- include("partials/foot.ejs") %>